.questionnaire html, body {
    background-color: rgb(241, 242, 246);
}

#origem, #destino {
    background-color: #fff;
}

.btn {
    margin-bottom: 10px;
}

.jumbotron .well {
    margin-bottom: 0;
    .tlt, .tlt2, .tlt3, .tlt4, .tlt5 {
        visibility:hidden;
    }
}

p {
    text-align: justify;
}
